<!-- <app-navbar></app-navbar> -->
 <!-- <div class="container">
  <div class="hero">
    <div class="dashboard-header-text">
      <p class="tagline">Track your</p>
      <h1 class="main-title">Daily expenses</h1>
      <p class="subtitle">with <span>Expense Tracker</span></p>
    </div>
    <div class="chart">
      <app-pie-chart-diagram></app-pie-chart-diagram>
    </div>
</div>
<div class="expenseDisplay">
  <app-expense-display></app-expense-display>
</div>
<div class="addExpenseButton">
  <button (click)="addExpense()" class="addButton"><mat-icon>add</mat-icon></button>
</div>
</div> -->
<!-- <router-outlet></router-outlet> -->

<div class="hero-wrapper">
  <div class="container hero-container-styles card-style">
    <div class="hero">
      <div class="dashboard-header-text">
        <p class="tagline">Track your</p>
        <h1 class="main-title">Daily expenses</h1>
        <p class="subtitle">with <span>Expense Tracker</span></p>
      </div>
      <div class="chart">
        <app-pie-chart-diagram></app-pie-chart-diagram>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-container">
  <div class="container">
    <div class="expenseDisplay card-style">
      <app-expense-display></app-expense-display>
    </div>

    <div class="addExpenseButton">
      <button (click)="addExpense()" class="addButton">+</button>
    </div>
  </div>
</div>

<!-- <app-navbar>
  <!-- Everything inside will be projected into ng-content -->
  <!-- <div class="logoutBar">
    <button (click)="logout()">Logout</button>
  </div>
  
  <div class="dashboard-container">
    <h2>{{ message }}</h2>
    <p><strong>Name:</strong> {{ userName }}</p>
    <p><strong>Email:</strong> {{ userEmail }}</p>
    <p><strong>Id:</strong>{{userId}}</p>
  </div>
  
  <br>
  
  <button mat-button (click)="openDialog()">Profile</button>
  
  <div class="chart">
    <app-pie-chart-diagram></app-pie-chart-diagram>
  </div>
  
  <div class="expenseDisplay">
    <app-expense-display></app-expense-display>
  </div>
  
  <div class="addExpenseButton">
    <button (click)="addExpense()">Add expense</button>
  </div>
</app-navbar> --> -->
